.navbar {
    position: absolute;
    width: 100%;
}

.nav-tabs {
    position: relative;
    width: 90%;
}

#create-btn-top {
    display: inline-block;
    position: relative;
    float: left;
    width: 10%;
    text-align: right;
}